@page "/assets"
@using AssetManagement.BusinessLogic.Services
@using AssetManagement.DataAccess.Entities
@using AssetManagement.BusinessLogic.Interfaces
@inject IAssetService AssetService

<h3>Assets</h3>

@if (assets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Asset Type</th>
                <th>Value</th>
                <th>Lifecycle Stage</th>
                <th>Risk Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in assets)
            {
                <tr>
                    <td>@asset.Name</td>
                    <td>@asset.AssetType</td>
                    <td>@asset.Value</td>
                    <td>@asset.LifecycleStage</td>
                    <td>@asset.RiskRating</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/add-asset" class="btn btn-primary">Add New Asset</a>

@code {
    private List<Asset>? assets;

    protected override async Task OnInitializedAsync()
    {
        assets = await AssetService.GetAll();
    }
}
